html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; 
    font-family: 'Montserrat', sans-serif; 
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

main {
    flex-grow: 1; 
    padding-top: 60px; 
    padding-bottom: 60px; 
}

footer {
    width: 100%; 
    background-color: #f4f4f4;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-custom-black {
    background-color: black;
    color: white;
    border-color: black; 
}

.btn-custom-black:hover, .btn-custom-black:focus { 
    background-color: black;
    color: white;
    border-color: black;
}

.btn-custom-grey {
    background-color: grey;
    color: white;
    border-color: grey; 
}

.btn-custom-grey:hover, .btn-custom-grey:focus { 
    background-color: grey;
    color: white;
    border-color: grey;
}

